.content {
        /* position: relative; */
	float: none;
	/* width: 83%; */
        width: 900px;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;        
}

.destination {
        margin-top: 10px;
	float: left;
	clear: both;
        width: 900px;
        padding: 5px;
        border-bottom: solid 1px green;
}

.destination p {
    margin: 5px;
}

.search_pic {
    width: 200px;
    float: left;
}

.search_name {
    width: 350px;
    height: 90px;
    float: left;
}

.search_addr {
    width: 350px;
    float: right;
        
}

.newDest {
        margin-top: 30px;
        margin-bottom: 20px;
	float: left;
	clear: both;
        width: 900px;
        padding: 5px;

}

.search_buttons {
    float: right;
    width: 190px;
    height: 90px;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
    
}

.box_book {
    float: right;
    width: 190px;
    height: 100px;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
    
}

.description {
    float: left;
    clear: both;
    width: 900px;
    
}

.titleShowing {
    clear: both;
    float: left;
    margin-top: 1px;
    margin-bottom: 3px;
    width: 900px;
    height: 50px;
}

.searchTitle {
    float: left;
    width: 690px;
    height: 45px;
}

.showing {
    float: right;
    width: 200px;    
}

